<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" name="EmployeeList1" dataset="bind:Variables.HrdbEmployeeData.dataSet" navigation="Basic">
                <wm-listtemplate layout="inline" name="listtemplate1">
                    <wm-container class="media-left" name="container1">
                        <wm-picture width="32pt" height="32pt" name="Picture" shape="circle" picturesource="bind:Variables.HrdbEmployeeData.dataSet.picurl" class="media-object"></wm-picture>
                    </wm-container>
                    <wm-container class="media-body" padding="unset unset unset 1.25em" name="container2">
                        <wm-label name="Name" class="p media-heading" caption="bind:Variables.HrdbEmployeeData.dataSet.firstname" fontsize="1.143" fontunit="em"></wm-label>
                        <wm-label name="JobTitle" caption="bind:Variables.HrdbEmployeeData.dataSet.data[$i].firstName + Variables.HrdbEmployeeData.dataSet.data[$i].lastName" class="p text-muted"></wm-label>
                    </wm-container>
                    <wm-container class="media-right media-top" name="container3">
                        <wm-button class="btn-transparent" iconclass="wi wi-share fa-2x" name="button1"></wm-button>
                    </wm-container>
                </wm-listtemplate>
            </wm-list>
            <wm-prefab prefabname="googlemaps" name="googlemaps1" address="city" locations="bind:Widgets.EmployeeList1.currentItem" markertype="Address"></wm-prefab>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>